@import "tailwindcss";

html, body{
      font-family: "manrope", sans-serif;
      overflow-x: hidden;
}

.times {
    font-family: 'Times New Roman', Times, serif;
}

.libre {
  font-family: 'libre', serif;
}

@font-face {
  font-family: "libre";
  src: url("./assets/fonts/Libre.ttf") format("truetype");
}

@font-face {
  font-family: "manrope";
  src: url("./assets/fonts/Manrope.ttf") format("truetype");
}